# INDIAN STARTUP ECOSYSTEM PROJECT

## General

India boasts one of the globe's most rapidly growing economies and in the past decade, we have observed a substantial rise 
in unicorn startups within the Indian startup ecosystem, exerting a global influence. While startups may be categorized as
small businesses, their potential for impact on economic growth is immense. They play a pivotal role in generating employment opportunities, thereby bolstering overall job market conditions and contributing to a more robust economy. Furthermore, startups foster innovation and inject healthy competition, thereby enhancing economic vitality.

In [319]:
#Import All Necessary Packages

import pyodbc
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from dotenv import dotenv_values
import os
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 

warnings.filterwarnings('ignore')

LOAD ALL THE DATASETS
1. Load 2020 and 2021 datasets from Microsoft SQL server
2. Load  2019 dataset from onedrive
3. Load 2018 dataset from a github repository

In [320]:
# Load environment variables from .env file 
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [321]:
# Use the connect method of the pyodbc library and pass in the connection string.
connection = pyodbc.connect(connection_string)

In [322]:
# Load 2020 dataset
query = 'SELECT * FROM LP1_startup_funding2020'
data_2020 = pd.read_sql_query(query, connection)

In [323]:
data_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [324]:
# Load 2021 dataset

query = "Select * from dbo.LP1_startup_funding2021"

data_2021 = pd.read_sql(query, connection)

In [325]:
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [326]:
# load 2019 dataset
data_2019 = pd.read_csv("datasets/startup_funding2019.csv")

In [327]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [328]:
#load 2018 dataset 
data_2018= pd.read_csv("datasets\startup_funding2018.csv")
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

# Data Cleaning
  
  Starting from 2018 dataset

In [329]:
# select specific columns
data_2018= pd.read_csv('datasets\startup_funding2018.csv',
                       usecols=['Company Name','Industry','Round/Series','Amount','Location'])

# rename the columns for consistency 

#industry --> sector 
#Round/Series --> stage 
data_2018.rename(columns = {'Industry':'Sector'}, inplace = True)

data_2018.rename(columns = {'Round/Series':'Stage'}, inplace = True)

# Add founded, investor and funding year as a column 
data_2018['Founded'] = np.nan
data_2018['Investor'] = np.nan
data_2018['Funding Year'] = '2018'

#Change the funding year to integer type 

data_2018['Funding Year'] = data_2018['Funding Year'].astype(int)

In [330]:
#check the first 100 records of the dataset 
data_2018.head()

,Company Name,Sector,Stage,Amount,Location,Founded,Investor,Funding Year
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India",NaN,NaN,2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",NaN,NaN,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",NaN,NaN,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",NaN,NaN,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",NaN,NaN,2018

In [331]:
#check the shape of the dataset 
data_2018.shape

(526, 8)

In [332]:
#check if there are any Null Values
data_2018.isna().any()

Company Name    False
Sector          False
Stage           False
Amount          False
Location        False
Founded          True
Investor         True
Funding Year    False
dtype: bool

There are no null values in the 2018 dataset

In [333]:
#Strip the location column to only the city-area. 
data_2018['Location'] = data_2018.Location.str.split(',').str[0]
data_2018['Location'].head()

0    Bangalore
1       Mumbai
2      Gurgaon
3        Noida
4    Hyderabad
Name: Location, dtype: object

In [334]:
#Strip the sector column to the first sector element.
data_2018['Sector'] = data_2018.Sector.str.split(',').str[0]
data_2018['Sector'].head()

0         Brand Marketing
1             Agriculture
2                  Credit
3      Financial Services
4    E-Commerce Platforms
Name: Sector, dtype: object

In [335]:
#get index of rows where 'Amount' column is in rupeess
get_index = data_2018.index[data_2018['Amount'].str.contains('₹')]

In [336]:
#Check the summary information about the 2018 dataset 
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  526 non-null    object
 1   Sector        526 non-null    object
 2   Stage         526 non-null    object
 3   Amount        526 non-null    object
 4   Location      526 non-null    object
 5   Founded       0 non-null      float64
 6   Investor      0 non-null      float64
 7   Funding Year  526 non-null    int32
dtypes: float64(2), int32(1), object(5)
memory usage: 30.9+ KB

In [337]:
#To convert the column to a numerical one, there the need to remove some symbols including commas and currency

data_2018['Amount'] = data_2018['Amount'].apply(lambda x:str(x).replace('₹', ''))

data_2018['Amount'] = data_2018['Amount'].apply(lambda x:str(x).replace('$', ''))

data_2018['Amount'] = data_2018['Amount'].apply(lambda x:str(x).replace(',', ''))

data_2018['Amount'] = data_2018['Amount'].replace('—', np.nan)

In [338]:
# convert the amount column to numeric data type
data_2018['Amount'] = pd.to_numeric(data_2018['Amount'], errors='coerce')

In [339]:
#Check the final dataset information. 
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  526 non-null    object
 1   Sector        526 non-null    object
 2   Stage         526 non-null    object
 3   Amount        378 non-null    float64
 4   Location      526 non-null    object
 5   Founded       0 non-null      float64
 6   Investor      0 non-null      float64
 7   Funding Year  526 non-null    int32
dtypes: float64(3), int32(1), object(4)
memory usage: 30.9+ KB

In [340]:
#Convert the rows with rupees to dollars
#Multiply the rupees values in the amount column with 0.012 which is the conversion rate 

data_2018.loc[get_index,['Amount']]=data_2018.loc[get_index,['Amount']].values*0.012

data_2018.loc[:,['Amount']].head()

      Amount
0   250000.0
1   480000.0
2   780000.0
3  2000000.0
4        NaN

In [341]:
data_2018.loc[(178)]

Company Name                                       BuyForexOnline
Sector                                                     Travel
Stage           https://docs.google.com/spreadsheets/d/1x9ziNe...
Amount                                                  2000000.0
Location                                                Bangalore
Founded                                                       NaN
Investor                                                      NaN
Funding Year                                                 2018
Name: 178, dtype: object

In [342]:
data_2018.loc[178, ['Stage']] = ['']

data_2018['Stage'] = data_2018['Stage'].apply(lambda x:str(x).replace('Undisclosed', ''))

In [343]:
#find duplicates 
duplicate = data_2018[data_2018.duplicated()]

duplicate

,Company Name,Sector,Stage,Amount,Location,Founded,Investor,Funding Year
348,TheCollegeFever,Brand Marketing,Seed,250000.0,Bangalore,NaN,NaN,2018

In [344]:
#drop duplicates 

data_2018 = data_2018.drop_duplicates(keep='first')

Cleaning 2019 DtaSet

In [345]:
#select specific columns 
 
data_2019 = pd.read_csv('datasets/startup_funding2019.csv', usecols = ['Company/Brand','Founded','HeadQuarter','Sector','Investor','Amount($)','Stage'])

# rename the columns for consistency 

#Company/Brand  --> Company Name 
#HeadQuarter --> Location 
#Amount($)  --> Amount 

data_2019.rename(columns = {'Company/Brand':'Company Name'}, inplace = True)

data_2019.rename(columns = {'HeadQuarter':'Location'}, inplace = True)

data_2019.rename(columns = {'Amount($)':'Amount'}, inplace = True)

# Add the funding year as a column 

data_2019['Funding Year'] = "2019"

#Change the funding year to integer type

data_2019['Funding Year'] = data_2019['Funding Year'].astype(int)

In [346]:
#check the shape of the dataset 
data_2019.shape

(89, 8)

In [347]:
#check the first 5 records of the dataset 
data_2019.head()

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,"Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [348]:
#check the summarized information on the 2019 dataset 
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  89 non-null     object
 1   Founded       60 non-null     float64
 2   Location      70 non-null     object
 3   Sector        84 non-null     object
 4   Investor      89 non-null     object
 5   Amount        89 non-null     object
 6   Stage         43 non-null     object
 7   Funding Year  89 non-null     int32
dtypes: float64(1), int32(1), object(6)
memory usage: 5.3+ KB

In [349]:
#To convert the column to a numerical one, there the need to remove some symbols including commas and currency

data_2019['Amount'] = data_2019['Amount'].apply(lambda x:str(x).replace('₹', ''))

data_2019['Amount'] = data_2019['Amount'].apply(lambda x:str(x).replace('$', ''))

data_2019['Amount'] = data_2019['Amount'].apply(lambda x:str(x).replace(',', ''))

data_2019['Amount'] = data_2019['Amount'].replace('—', np.nan)

In [350]:
#Some rows-values in the amount column are undisclosed 
# Extract the rows with undisclosed funding information 

index_new = data_2019.index[data_2019['Amount']=='Undisclosed']
#Print the number of rows with such undisclosed values
print('The number of values with undisclosed amount is ', len(index_new))

The number of values with undisclosed amount is  12

In [351]:
#check out these records 
data_2019.loc[(index_new)]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
5,FlytBase,NaN,Pune,Technology,Undisclosed,Undisclosed,NaN,2019
6,Finly,NaN,Bangalore,SaaS,"Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN,2019
10,Cub McPaws,2010.0,Mumbai,E-commerce & AR,Venture Catalysts,Undisclosed,NaN,2019
14,Open Secret,NaN,NaN,Food tech,Matrix Partners,Undisclosed,NaN,2019
19,Azah Personal Care Pvt. Ltd.,2018.0,Gurugram,Health,"Kunal Bahl, Rohit Bansal.",Undisclosed,Pre series A,2019
23,DROR Labs Pvt. Ltd,2018.0,Delhi,Safety tech,Inflection Point Ventures,Undisclosed,NaN,2019
32,Pumpkart,2014.0,Chandigarh,E-marketplace,Dinesh Dua,Undisclosed,NaN,2019
45,Afinoz,NaN,Noida,Fintech,Fintech innovation lab,Undisclosed,NaN,2019
54,Ninjacart,2015.0,NaN,B2B Supply Chain,"Walmart, Flipkart",Undisclosed,NaN,2019
55,Binca Games,2014.0,Mumbai,Games,Sunil Gavaskar,Undisclosed,NaN,2019
65,Cubical Labs,2013.0,NaN,IoT,Rockstud Capital,Undisclosed,Series B,2019
75,Sportido,2015.0,Noida,Sports,"Inflection Point Ventures, SucSEED Venture Par...",Undisclosed,Series B,2019

In [352]:
#Since undisclosed amounts does not provide any intelligenc, 
#we decided to drop rows with such characteristics 
# Replace the undisclosed amounts with an empty string

data_2019['Amount'] = data_2019['Amount'].replace('Undisclosed', np.nan)

In [353]:
#check out these records 
data_2019.loc[(index_new)]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
5,FlytBase,NaN,Pune,Technology,Undisclosed,NaN,NaN,2019
6,Finly,NaN,Bangalore,SaaS,"Social Capital, AngelList India, Gemba Capital...",NaN,NaN,2019
10,Cub McPaws,2010.0,Mumbai,E-commerce & AR,Venture Catalysts,NaN,NaN,2019
14,Open Secret,NaN,NaN,Food tech,Matrix Partners,NaN,NaN,2019
19,Azah Personal Care Pvt. Ltd.,2018.0,Gurugram,Health,"Kunal Bahl, Rohit Bansal.",NaN,Pre series A,2019
23,DROR Labs Pvt. Ltd,2018.0,Delhi,Safety tech,Inflection Point Ventures,NaN,NaN,2019
32,Pumpkart,2014.0,Chandigarh,E-marketplace,Dinesh Dua,NaN,NaN,2019
45,Afinoz,NaN,Noida,Fintech,Fintech innovation lab,NaN,NaN,2019
54,Ninjacart,2015.0,NaN,B2B Supply Chain,"Walmart, Flipkart",NaN,NaN,2019
55,Binca Games,2014.0,Mumbai,Games,Sunil Gavaskar,NaN,NaN,2019
65,Cubical Labs,2013.0,NaN,IoT,Rockstud Capital,NaN,Series B,2019
75,Sportido,2015.0,Noida,Sports,"Inflection Point Ventures, SucSEED Venture Par...",NaN,Series B,2019

In [354]:
#Convert the Amount column to float 

data_2019['Amount'] = pd.to_numeric(data_2019['Amount'], errors='coerce')

In [355]:
#Check the first 5 rows of the dataset 
data_2019.head()

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
0,Bombay Shaving,NaN,NaN,Ecommerce,Sixth Sense Ventures,6300000.0,NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,General Atlantic,150000000.0,Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,"Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,Innovation in Food and Agriculture (IFA),6000000.0,NaN,2019

In [356]:
#Check the summary information of the dataset 
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  89 non-null     object
 1   Founded       60 non-null     float64
 2   Location      70 non-null     object
 3   Sector        84 non-null     object
 4   Investor      89 non-null     object
 5   Amount        77 non-null     float64
 6   Stage         43 non-null     object
 7   Funding Year  89 non-null     int32
dtypes: float64(2), int32(1), object(5)
memory usage: 5.3+ KB

In [357]:
#Check if there are any NULL VALUES 
data_2019.isna().any().sum()

5

We plan to analyse it later although there are null values.

In [358]:
#find duplicates 

duplicate = data_2019[data_2019.duplicated()]

duplicate

Empty DataFrame
Columns: [Company Name, Founded, Location, Sector, Investor, Amount, Stage, Funding Year]
Index: []

NO duplicates

Cleaning 2020 dataset

In [359]:
#select specific columns
data_2020 = data_2020[['Company_Brand', 'Founded','HeadQuarter','Sector','Investor','Amount','Stage' ]]
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,"Siana Capital Management, Info Edge",340000.0,None

In [360]:
# rename some columns 

data_2020.rename(columns = {'Company_Brand':'Company Name'}, inplace = True)

data_2020.rename(columns = {'HeadQuarter':'Location'}, inplace = True)

# Add the funding year as a column 


data_2020['Funding Year'] = "2020"

#Change the funding year to integer type

data_2020['Funding Year'] = data_2020['Funding Year'].astype(int)

In [361]:
# check the first 5 rows of the 2020 funding data
data_2020.head()

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Angel investors,200000.0,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020.0,New Delhi,Escrow,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016.0,Indore,AgriTech,"Siana Capital Management, Info Edge",340000.0,None,2020

In [362]:
data_2020.shape

(1055, 8)

In [363]:
#Summary information the dataset 
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  1055 non-null   object
 1   Founded       842 non-null    float64
 2   Location      961 non-null    object
 3   Sector        1042 non-null   object
 4   Investor      1017 non-null   object
 5   Amount        801 non-null    float64
 6   Stage         591 non-null    object
 7   Funding Year  1055 non-null   int32
dtypes: float64(2), int32(1), object(5)
memory usage: 61.9+ KB

In [364]:
# convert the funded column to numeric data
data_2020['Founded'] = pd.to_numeric(data_2020['Founded'], errors='coerce').convert_dtypes(int)

In [365]:
#To convert the Amount column to a numeric, there the need to remove some symbols including commas and currency
data_2020['Amount'] = data_2020['Amount'].apply(lambda x:str(x).replace('$', ''))

data_2020['Amount'] = data_2020['Amount'].apply(lambda x:str(x).replace(',', ''))

data_2020['Amount'] = data_2020['Amount'].replace('—', np.nan)

In [366]:
#Find the number of rows with undisclosed amounts 
index1 = data_2020.index[data_2020['Amount']=='Undisclosed']
print('The total number of undisclosed records is', len(index1))

The total number of undisclosed records is 0

In [367]:
# convert undisclosed to NAN
data_2020['Amount'] = data_2020['Amount'].replace('Undisclosed', np.nan)

In [368]:
#print a summary information on the 2020 data 
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  1055 non-null   object
 1   Founded       842 non-null    Int64
 2   Location      961 non-null    object
 3   Sector        1042 non-null   object
 4   Investor      1017 non-null   object
 5   Amount        1055 non-null   object
 6   Stage         591 non-null    object
 7   Funding Year  1055 non-null   int32
dtypes: Int64(1), int32(1), object(6)
memory usage: 63.0+ KB

In [369]:
#Find the row with 887000 23000000 in the amount section
index1 = data_2020.index[data_2020['Amount']=='887000 23000000']
index1

Index([], dtype='int64')

In [370]:
#replace the values with the average 
avg = str((887000+23000000)/2)
data_2020.at[465, 'Amount'] = avg

In [371]:
#print the row record to confirm
print(data_2020.iloc[(465)])

Company Name    True Balance
Founded                 2014
Location            Gurugram
Sector               Finance
Investor         Balancehero
Amount            11943500.0
Stage               Series C
Funding Year            2020
Name: 465, dtype: object

In [372]:
#Find the row with 800000000 to 850000000 in the amount section
index2 = data_2020.index[data_2020['Amount']=='800000000 to 850000000']

In [373]:
#replace the values with the average 
avg = str((800000000+850000000)/2)

data_2020.at[472, 'Amount'] = avg

In [374]:
#print the row record to confirm 
print(data_2020.iloc[(472)])

Company Name                                             Eruditus
Founded                                                      2010
Location                                                   Mumbai
Sector                                                  Education
Investor        Bertelsmann India Investments, Sequoia Capital...
Amount                                                825000000.0
Stage                                                        None
Funding Year                                                 2020
Name: 472, dtype: object

In [375]:
#Convert the Amount column to numeric 

data_2020['Amount'] = pd.to_numeric(data_2020['Amount'], errors='coerce')

In [376]:
#print a summary information on the 2020 data 
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  1055 non-null   object
 1   Founded       842 non-null    Int64
 2   Location      961 non-null    object
 3   Sector        1042 non-null   object
 4   Investor      1017 non-null   object
 5   Amount        803 non-null    float64
 6   Stage         591 non-null    object
 7   Funding Year  1055 non-null   int32
dtypes: Int64(1), float64(1), int32(1), object(5)
memory usage: 63.0+ KB

In [377]:
duplicates = data_2020[data_2020.duplicated()]

duplicates

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
145,Krimanshi,2015,Jodhpur,Biotechnology company,"Rajasthan Venture Capital Fund, AIM Smart City",600000.0,Seed,2020
205,Nykaa,2012,Mumbai,Cosmetics,"Alia Bhatt, Katrina Kaif",NaN,None,2020
362,Byju’s,2011,Bangalore,EdTech,"Owl Ventures, Tiger Global Management",500000000.0,None,2020

In [378]:
#drop all duplicates and leave only one record 

data_2020 = data_2020.drop_duplicates(keep='first')

In [379]:
#Check the 2020 datatset information to confirm the datatypes 
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1052 entries, 0 to 1054
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  1052 non-null   object
 1   Founded       839 non-null    Int64
 2   Location      958 non-null    object
 3   Sector        1039 non-null   object
 4   Investor      1014 non-null   object
 5   Amount        801 non-null    float64
 6   Stage         590 non-null    object
 7   Funding Year  1052 non-null   int32
dtypes: Int64(1), float64(1), int32(1), object(5)
memory usage: 70.9+ KB

In [380]:
#Check the first set of row 
data_2020.head()

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
0,Aqgromalin,2019,Chennai,AgriTech,Angel investors,200000.0,None,2020
1,Krayonnz,2019,Bangalore,EdTech,GSF Accelerator,100000.0,Pre-seed,2020
2,PadCare Labs,2018,Pune,Hygiene management,Venture Center,NaN,Pre-seed,2020
3,NCOME,2020,New Delhi,Escrow,"Venture Catalysts, PointOne Capital",400000.0,None,2020
4,Gramophone,2016,Indore,AgriTech,"Siana Capital Management, Info Edge",340000.0,None,2020

In [381]:
#Check the final shape of the data after preprocessing 
data_2020.shape

(1052, 8)

Clean 2021 dataset

In [382]:
#select specific columns 
data_2021 = data_2021[['Company_Brand','Founded','HeadQuarter','Sector','Investor','Amount','Stage']]
data_2021

,Company_Brand,Founded,HeadQuarter,Sector,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,"BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,"Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,"GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,"CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,"3one4 Capital, Kalaari Capital",$8000000,Series A

In [383]:
# rename some columns 

data_2021.rename(columns = {'Company_Brand':'Company Name'}, inplace = True)

data_2021.rename(columns = {'HeadQuarter':'Location'}, inplace = True)


# Add the funding year to the data 


data_2021['Funding Year'] = "2021"

#Change the funding year to integer type

data_2021['Funding Year'] = data_2021['Funding Year'].astype(int)

In [384]:
# 2021 dataset information
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  1209 non-null   object
 1   Founded       1208 non-null   float64
 2   Location      1208 non-null   object
 3   Sector        1209 non-null   object
 4   Investor      1147 non-null   object
 5   Amount        1206 non-null   object
 6   Stage         781 non-null    object
 7   Funding Year  1209 non-null   int32
dtypes: float64(1), int32(1), object(6)
memory usage: 71.0+ KB

In [385]:
# total undisclosed in the dataset
index5 = data_2021.index[data_2021['Amount']=='Undisclosed']

print(len(index5))

43

In [386]:
#print the row records 
data_2021.loc[(index5)].tail()

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
824,Avalon Labs,2017.0,Bangalore,FinTech,"Tanglin Ventures, Better Capital, Whiteboard C...",Undisclosed,Pre-series A,2021
827,Rezo.ai,2017.0,Noida,AI startup,"Devesh Sachdev, Bhavesh Manglani",Undisclosed,Seed,2021
833,Polygon,2017.0,Mumbai,Crypto,"Mark Cuban, MiH Ventures",Undisclosed,None,2021
846,Ingenium,2018.0,New Delhi,EdTech,Lead Angels,Undisclosed,Seed,2021
853,Celcius,2020.0,Mumbai,Logistics,Eaglewings Ventures,Undisclosed,Seed,2021

In [387]:
# Replace the Undisclosed with NAN

data_2021['Amount'] = data_2021['Amount'].replace('Undisclosed', np.nan)

In [388]:
#print the last 5 row records 
data_2021.loc[(index5)].tail()

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
824,Avalon Labs,2017.0,Bangalore,FinTech,"Tanglin Ventures, Better Capital, Whiteboard C...",NaN,Pre-series A,2021
827,Rezo.ai,2017.0,Noida,AI startup,"Devesh Sachdev, Bhavesh Manglani",NaN,Seed,2021
833,Polygon,2017.0,Mumbai,Crypto,"Mark Cuban, MiH Ventures",NaN,None,2021
846,Ingenium,2018.0,New Delhi,EdTech,Lead Angels,NaN,Seed,2021
853,Celcius,2020.0,Mumbai,Logistics,Eaglewings Ventures,NaN,Seed,2021

In [389]:
# number of upspark in Amount column
index6 = data_2021.index[data_2021['Amount']=='Upsparks']

print(len(index6)), index6

2

(None, Index([98, 111], dtype='int64'))

In [390]:
# display them
data_2021.loc[index6]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
98,FanPlay,2020.0,Computer Games,Computer Games,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021
111,FanPlay,2020.0,Computer Games,Computer Games,"Pritesh Kumar, Bharat Gupta",Upsparks,$1200000,2021

In [391]:
#drop the duplicate

data_2021 = data_2021.drop(labels=index6[1], axis=0)

In [392]:
#Rearrange the record data correctly 

data_2021.loc[index6[0], ['Amount', 'Stage']] = ['$1200000', '']

In [393]:
# dispaly the changes 
data_2021.iloc[98]

Company Name                        FanPlay
Founded                              2020.0
Location                     Computer Games
Sector                       Computer Games
Investor        Pritesh Kumar, Bharat Gupta
Amount                             $1200000
Stage
Funding Year                           2021
Name: 98, dtype: object

In [394]:
# find element in amount with series C
index7 = data_2021.index[data_2021['Amount']=='Series C']

print(len(index7)), index7

2

(None, Index([242, 256], dtype='int64'))

In [395]:
# show the entry
data_2021.loc[index7]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
242,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,$22000000,Series C,None,2021
256,Fullife Healthcare,2009.0,Pharmaceuticals\t#REF!,Primary Business is Development and Manufactur...,$22000000,Series C,None,2021

In [396]:
#since its duplicate  drop one 
data_2021 = data_2021.drop(labels=index7[1], axis=0)

In [397]:
#rearrange the columns entery 
data_2021.loc[index7[0], ['Sector', 'Location', 'Amount', 'Investor', 'Stage']] = ['Pharmaceuticals', '', '$22000000', '', 'Series C']

In [398]:
data_2021.loc[242]

Company Name    Fullife Healthcare
Founded                     2009.0
Location
Sector             Pharmaceuticals
Investor
Amount                   $22000000
Stage                     Series C
Funding Year                  2021
Name: 242, dtype: object

In [399]:
index8 = data_2021.index[data_2021['Amount']=='Seed']

print(index8)

Index([257, 1148], dtype='int64')

In [400]:
data_2021.loc[index8]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
257,MoEVing,2021.0,Gurugram\t#REF!,MoEVing is India's only Electric Mobility focu...,$5000000,Seed,None,2021
1148,Godamwale,2016.0,Mumbai,Logistics & Supply Chain,1000000\t#REF!,Seed,None,2021

In [401]:
data_2021.loc[index8[0], ['Sector', 'Location', 'Amount', 'Investor', 'Stage']] = ['Electric Mobility', 'Gurugram', '$5000000', '', 'Seed']
data_2021.loc[index8[1], ['Amount', 'Investor', 'Stage']] = ['1000000', '', 'Seed']

In [402]:
data_2021.loc[257]

Company Name              MoEVing
Founded                    2021.0
Location                 Gurugram
Sector          Electric Mobility
Investor
Amount                   $5000000
Stage                        Seed
Funding Year                 2021
Name: 257, dtype: object

In [403]:
index9 = data_2021.index[data_2021['Amount']=='ah! Ventures']

print(index9)

Index([538], dtype='int64')

In [404]:
data_2021.loc[index9]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
538,Little Leap,2020.0,New Delhi,EdTech,Vishal Gupta,ah! Ventures,$300000,2021

In [405]:
data_2021.loc[index9, ['Amount', 'Stage']] = ['$300000', '']

In [406]:
data_2021.loc[538]

Company Name     Little Leap
Founded               2020.0
Location           New Delhi
Sector                EdTech
Investor        Vishal Gupta
Amount               $300000
Stage
Funding Year            2021
Name: 538, dtype: object

In [407]:
# Pre-series A
index10 = data_2021.index[data_2021['Amount']=='Pre-series A']

index10

Index([545], dtype='int64')

In [408]:
data_2021.loc[index10]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
545,AdmitKard,2016.0,Noida,EdTech,$1000000,Pre-series A,None,2021

In [409]:
# rearranging the values in amount, investor and stage
data_2021.at[545, 'Amount'] = '$1000000'
data_2021.at[545, 'Investor'] = ''
data_2021.at[545, 'Stage'] = 'Pre-series A'

In [410]:
data_2021.loc[index10]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
545,AdmitKard,2016.0,Noida,EdTech,,$1000000,Pre-series A,2021

In [411]:
# ITO angel network, letsventure
index11 = data_2021.index[data_2021['Amount']=='ITO Angel Network, LetsVenture']

index11

Index([551], dtype='int64')

In [412]:
data_2021.loc[index11]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
551,BHyve,2020.0,Mumbai,Human Resources,"Omkar Pandharkame, Ketaki Ogale","ITO Angel Network, LetsVenture",$300000,2021

In [413]:
# rearranging 
data_2021.at[551, 'Amount'] = '$300000'
data_2021.at[551, 'Investor'] = 'Omkar Pandharkame, Ketaki Ogale, JITO Angel Network, LetsVenture'
data_2021.at[551, 'Stage'] = ''

In [414]:
data_2021.loc[index11]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
551,BHyve,2020.0,Mumbai,Human Resources,"Omkar Pandharkame, Ketaki Ogale, JITO Angel Ne...",$300000,,2021

In [415]:
# JITO Angel Network, LetsVenture
index12 = data_2021.index[data_2021['Amount']=='JITO Angel Network, LetsVenture']

index12

Index([677], dtype='int64')

In [416]:
data_2021.loc[index12]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,Sushil Agarwal,"JITO Angel Network, LetsVenture",$1000000,2021

In [417]:
# rearranging 
data_2021.at[677, 'Amount'] = '$1000000'
data_2021.at[677, 'Investor'] = 'Sushil Agarwal, JITO Angel Network, LetsVenture'
data_2021.at[677, 'Stage'] = ''

In [418]:
data_2021.loc[index12]

,Company Name,Founded,Location,Sector,Investor,Amount,Stage,Funding Year
677,Saarthi Pedagogy,2015.0,Ahmadabad,EdTech,"Sushil Agarwal, JITO Angel Network, LetsVenture",$1000000,,2021

In [419]:
index13 = data_2021.index[data_2021['Amount']=='nan']

data_2021['Amount'] = data_2021['Amount'].replace('nan', np.nan)

In [420]:
# replace $ and , to empty space, - to NAN
data_2021['Amount'] = data_2021['Amount'].apply(lambda x:str(x).replace('$', ''))

data_2021['Amount'] = data_2021['Amount'].apply(lambda x:str(x).replace(',', ''))

data_2021['Amount'] = data_2021['Amount'].replace('—', np.nan)

In [421]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1207 entries, 0 to 1208
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  1207 non-null   object
 1   Founded       1206 non-null   float64
 2   Location      1206 non-null   object
 3   Sector        1207 non-null   object
 4   Investor      1145 non-null   object
 5   Amount        1207 non-null   object
 6   Stage         784 non-null    object
 7   Funding Year  1207 non-null   int32
dtypes: float64(1), int32(1), object(6)
memory usage: 112.4+ KB

In [422]:
# convert amount column to numeric
data_2021['Amount']  = pd.to_numeric(data_2021['Amount'], errors='coerce')

In [423]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1207 entries, 0 to 1208
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  1207 non-null   object
 1   Founded       1206 non-null   float64
 2   Location      1206 non-null   object
 3   Sector        1207 non-null   object
 4   Investor      1145 non-null   object
 5   Amount        1064 non-null   float64
 6   Stage         784 non-null    object
 7   Funding Year  1207 non-null   int32
dtypes: float64(2), int32(1), object(5)
memory usage: 112.4+ KB

considering location column

In [424]:
data_2021.loc[98]

Company Name                        FanPlay
Founded                              2020.0
Location                     Computer Games
Sector                       Computer Games
Investor        Pritesh Kumar, Bharat Gupta
Amount                            1200000.0
Stage
Funding Year                           2021
Name: 98, dtype: object

In [425]:
data_2021.loc[752]

Company Name    NewLink Group
Founded                2016.0
Location              Beijing
Sector           Tech Startup
Investor         Bain Capital
Amount            200000000.0
Stage                    None
Funding Year             2021
Name: 752, dtype: object

In [426]:
data_2021['Location'] = data_2021.Location.str.split(',').str[0]
data_2021.at[32, 'Location'] = 'Andhra Pradesh'
data_2021.at[98, 'Location'] = ''
data_2021.at[241, 'Location'] = ''
data_2021.at[255, 'Location'] = ''
data_2021.at[752, 'Location'] = ''
data_2021.at[1100, 'Location'] = ''
data_2021.at[1176, 'Location'] = ''

Considering Sector Attribute

In [427]:
data_2021['Sector'] = data_2021.Sector.str.split(',').str[0]
data_2021.at[1100, 'Sector'] = 'Audio experience'

# Exploratory Data Analysis: EDA

This is the segment dedicated to thoroughly examining the datasets, presenting them, formulating hypotheses, and strategizing the cleaning, processing, and creation of features.

In [428]:
print (data_2021.columns)

Index(['Company Name', 'Founded', 'Location', 'Sector', 'Investor', 'Amount',
       'Stage', 'Funding Year'],
      dtype='object')

In [429]:
print (data_2020.columns)

Index(['Company Name', 'Founded', 'Location', 'Sector', 'Investor', 'Amount',
       'Stage', 'Funding Year'],
      dtype='object')

In [430]:
print (data_2018.columns)

Index(['Company Name', 'Sector', 'Stage', 'Amount', 'Location', 'Founded',
       'Investor', 'Funding Year'],
      dtype='object')

In [431]:
print (data_2019.columns)

Index(['Company Name', 'Founded', 'Location', 'Sector', 'Investor', 'Amount',
       'Stage', 'Funding Year'],
      dtype='object')

In [432]:
# concatenating all the dataframes together
df = pd.concat([data_2018, data_2019, data_2020, data_2021], axis=0)

In [433]:
df.head()

,Company Name,Sector,Stage,Amount,Location,Founded,Investor,Funding Year
0,TheCollegeFever,Brand Marketing,Seed,250000.0,Bangalore,<NA>,NaN,2018
1,Happy Cow Dairy,Agriculture,Seed,480000.0,Mumbai,<NA>,NaN,2018
2,MyLoanCare,Credit,Series A,780000.0,Gurgaon,<NA>,NaN,2018
3,PayMe India,Financial Services,Angel,2000000.0,Noida,<NA>,NaN,2018
4,Eunimart,E-Commerce Platforms,Seed,NaN,Hyderabad,<NA>,NaN,2018

In [434]:
df.shape

(2873, 8)